#### Task 1: Question 2

In [6]:
num1= 2000
num2= 3200
num_list= []

for i in range(num1,num2) :
    if i%7 == 0 and i%5 != 0:
        num_list.append(i)
        i+=1
    else:
        i+=1
        
print(num_list)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

#### Task 1 Question 3

In [7]:
first_name= input("Please enter your first name:")
last_name= input("Please enter your last name:")

print(last_name+" "+first_name)

Please enter your first name:Ishan
Please enter your last name:Kulkarni
Kulkarni Ishan

#### Task 1 Question 4

In [18]:
import math
r= 12
Vol = (4/3)*(math.pi)*(r)**3
print("Volume = "+ str(Vol) + " cm^3")

Volume = 7238.229473870882 cm^3

#### Task 2 Question 1

In [22]:
input_list= input("Please enter a sequence of numbers:")

lst = str(input_list).split(",")
print("List= ",lst)

Please enter a sequence of numbers:246,4,6209,5
List=  ['246', '4', '6209', '5']

#### Task 2 Question 2

In [66]:
star = "*"
b= 1
num_star = []
for s in range (1,10):
    if s <= 5:
        num_star.append(s)
        s+=1
    elif s > 5:
        n = s-(2*b)
        b+=1
        s+=1
        num_star.append(n)
#print(num_star)


for index, value in enumerate(num_star):
   
    print(star*value)

*
**
***
****
*****
****
***
**
*

#### Task 2 Question 3

In [51]:
str = input("Please enter string:")

print(str[::-1])

Please enter string:AcadGild
dliGdacA

#### Task 2 Question 4

In [63]:
print("WE, THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitute India into a SOVEREIGN,!\n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t  and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,!
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		  and to secure to all its citizens